<header id="header">
  <ul class="header-inner">
    <li class="logo">
      <a href="index.html">
        <img src="/assets/images/logo.svg">
        <span class="white">Child</span><span>Tracker</span>
      </a>
      <span class="small-text">родительский контроль</span>
    </li>
    <li class="pull-right">
      <ul class="top-menu">
        <li ui-sref-active="open">
          <a data-toggle="dropdown" class="tm-dashboard" ui-sref="dashboard.statistics">Панель управления</a>
        </li>
        <li ui-sref-active="open">
          <a data-toggle="dropdown" class="tm-list" ui-sref="playlists">Подборки</a>
        </li>
      </ul>
    </li>
  </ul>
</header>
