<div class="timer-edit-wrapper col-sm-offset-3">
  <p style="font-size:16px;margin-bottom: -4px;font-weight: 400;margin-left: 40px;">Таймер выключения</p>  
  <timer class="clearfix" ng-if="timer.countDownTime > 0" finish-callback="timer.sendOff()" end-time="timer.countDownTime">
    <span class="time">
      {{hours | timerOutput}}
    </span>
    <span class="dvoetochie">:</span>
    <span class="time">
      {{minutes | timerOutput}}
    </span>
    <span class="dvoetochie">:</span>
    <span class="time secs">
      {{seconds | timerOutput}}
    </span>
  </timer>
  <div ng-if="timer.countDownTime == 0"  class="clearfix">
    <span class="time">
      <i class="control up" ng-click="timer.timeUp('hour')"></i>
      <i class="control down" ng-click="timer.timeDown('hour')"></i>
      {{timer.hours | timerOutput}}
    </span>
    <span class="dvoetochie">:</span>
    <span class="time">
      <i class="control up" ng-click="timer.timeUp('minutes')"></i>
      <i class="control down" ng-click="timer.timeDown('minutes')"></i>
      {{timer.minutes | timerOutput}}
    </span>
  </div>
  <div>
    <button ng-click="timer.startCountDownTimer()" class="btn green btn-float waves-effect waves-circle">
     Старт
    </button>
    <button ng-click="timer.stopTimer()" class="btn grey btn-float waves-effect waves-circle">
     Стоп
    </button>
  </div>
</div>
<!-- {{vm}} -->