<div class="card-body card-padding" style="padding-top: 0;">
  <h3 class="c-gray ng-binding">Не более {{slider.priceSlider.value}} часов в сутки</h3>
  <br>
  <rzslider rz-slider-model="slider.priceSlider.value" rz-slider-options="slider.priceSlider.options"></rzslider>
</div>