body {
  padding-top:0px;

  #content {
    padding: 90px 0;
  }
}

#header {
  background: #F7412D;
}


.disabledItem {
  opacity: .1;
}

.header-inner {
  li {
    margin-top: -10px !important;
    padding: 7px 0;
    &.logo {
      position: relative;
      margin-top: -16px !important;
      a {
        text-transform: none;
        font-size: 30px;
        padding: 0px 10px;
        font-weight: 500;
        display: inline;
        
        img {
          width: 32px;
          margin-top: 10px;
        }

        span {
          color: #000;
          font-size: 20px;
          font-weight: 300;
          &.white {
            color: #fff;
            font-weight: 700;
          }
        }
      }

      .small-text {
        color: #fff;
        position: absolute;
        left: 50px;
        bottom: 7px;
        font-size: 10px;
      }
    }
  }
}

.preview-placeholder {
  height: 250px;
  background-color: #f8f8f8;
  &:before {
    content: 'Ничего не смотрит';
    line-height: 250px;
    padding: 125px;
    font-size: 35px;
    font-weight: 100;
  }
}

/*icons*/
.top-menu > li > a {
  color: #fff;
  padding: 33px 10px 0;
  &.tm-dashboard {
    background-image: url("/assets/images/icons/view-dashboard.png");
  }
  &.tm-list {
    background-image: url("/assets/images/icons/format-list-bulleted.png");
  }
}

.video-title {
  font-size: 22px;
  display: block;
  font-weight: 400;
  padding-top: 16px;
}

.card-body {
  .current-video-preview {
    margin-left: 20px;
    margin-bottom: 14px;
  }
}

.select {
  &:before {
     background-image: url("/assets/images/icons/select@2x.png") !important;
  }
}

.qqj {
  position: absolute;
  right: 0px;
  top: 7px;
  font-size: 16px;
}

.timer-edit-wrapper {
  font-weight: 100;
  font-size: 100px;
  .time {
    float: left;
    position: relative;
    &.secs {
      font-size: 50px;
      margin-top: 53px;
    }
    .control {
      position: absolute;
      position: absolute;
      width: 24px;
      height: 24px;
      left: 41px;

      &.up {
        background-image: url('/assets/images/icons/menu-up.png');
        top: 9px;
      }

      &.down {
        background-image: url('/assets/images/icons/menu-down.png');
        bottom: 15px;
      }
    }
  }
  .dvoetochie {
    font-size: 70px;
    float: left;
    margin-top: 16px;
  }
}

.search-youtube {
  width: 100%;
  font-size: 20px;
  padding: 3px 8px 3px 25px;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 10px;

  &:after {
    background-image: url('/assets/images/icons/search-2@2x.png');

  }
}

.added-videos {
  width: 300px;
  display: inline-block;
  margin: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   img {
    cursor: pointer;
   }
}

.inactive {
  opacity: .3;
}

.overlay {
  background-color: #fff;
  padding: 6px;
  bottom: 0px;
  border-bottom: 1px solid;
  border-color: #E0E0E0;
  left: 0;
  font-weight: 500;
  font-size: 12px;
  height: 50px;
  position: relative;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

.remove-added-item {
  opacity:0.5;
  padding: 9px;
  cursor:pointer;
  display: block;
  position: absolute;
  right: 0;

  &:hover {
    opacity: 1;
  }
}

.search-item {
  padding: 4px 0;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #f8f8f8;
  }

  img {
    width:110px;
    float:left;
    margin-right: 5px;
  }

  .item-title {
    font-weight: 500;
  }
}

.grey{
  width: 70px;
  height: 70px;
  margin-left: 130px;
  background-color: #f8f8f8 !important;
  color: #000;
}

.green {
  width: 70px;
  height: 70px;
  margin-left: 40px;
  background-color: #4CAF4E !important;
  color: #fff;
}

.rename {
  font-size: 29px !important;
  font-weight: 300 !important;
  text-transform: none !important;
  input {
    font-size: 29px;
    background: none;
    padding: 20px 0 !important;
    font-weight: 300;
  }
}