<section id="content">
  <div class="container">
    <div class="row">
      <div class="block-header">
        <h2>Ваши подборки</h2>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header ch-alt">
            <button ng-click="create(i)" class="btn bgm-cyan btn-float waves-effect waves-circle"
              style="-webkit-mask-image: none; line-height: inherit;"><i class="zmdi zmdi-plus"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="row" style="margin-left: 73px;padding-top: 4px;padding-bottom: 4px;">
              <div ng-repeat="i in playlists track by $index"
                   ng-click="preview(i.id)"
                   class="added-videos col-sm-6"
                >
                 <div style="
                    height: 7px;
                    width: 253px;
                    margin-left: 7px;
                    background: #C7C7C7;
                "></div>
                  <div style="
                    height: 7px;
                    width: 265px;
                    margin-left: 2px;
                    background: #ABABAB;
                "></div>
                <img ng-class="{'inactive': i.active == false}" ui-sref="playlist({id: i.id})" class="img-responsive" src="{{i.thumbnail}}">
                <div class="overlay">
                  <span class="col-sm-10" style="padding: 0;font-size: 17px;">{{i.name}}</span>
                  <div class="toggle-switch" style="position:absolute;top: 11px;left: 144px;" data-ts-color="green" ng-click="toggle(i)">
                    <label for="ts4" class="ts-label"></label>
                    <input id="ts4" type="checkbox" ng-model="i.active" hidden="hidden">
                    <label for="ts4" class="ts-helper"></label>
                  </div>
                  <a style="top: -1px;right: 3px;" ng-click="delete(i)" class="remove-added-item"><img src="/assets/images/icons/delete.png"></a>
                </div>
              </div>
              <div style="text-align:center;padding: 74px;font-size: 20px;opacity: .5;" ng-show="!playlists.length">У Вас еще нет подборок</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>