<section id="content">
  <div class="container">
    <div class="row">
      <div class="block-header">
        <h2 ng-click="rename()" class="rename" ng-show="playlist.name && edit == false">{{playlist.name}}</h2>
        <div ng-show="!playlist.name || edit == true" class="rename">
          <input type="text" id="ghg" ng-blur="saveTitle()" class="form-control" ng-model="playlist.name" placeholder="Введите Заголовок Подборки">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
      
          <!-- <div class="card-body">
            <div class="row" style="margin-left: 73px;padding-top: 4px;padding-bottom: 4px;">
              <div ng-repeat="i in videos track by $index"
                   ng-click="preview(i.id)"
                   class="added-videos col-sm-6"
                   style="background-image: url({{i.thumbnails.high.url}});">
                <div class="overlay">
                  <span class="col-sm-10" style="padding: 0;">{{i.title}}</span>
                  <a ng-click="deleteFromList(i)" class="remove-added-item"><img src="/assets/images/icons/delete.png"></a>
                </div>
              </div>
              <div style="text-align:center;padding: 74px;font-size: 20px;opacity: .5;" ng-show="!videos.length">Подборка пуста</div>
            </div>
          </div> -->

          <div class="card-body">
            <div class="row" style="margin-left: 73px;padding-top: 4px;padding-bottom: 4px;">
              <div ng-repeat="i in videos track by $index"
                   ng-click="preview(i.id)"
                   class="added-videos col-sm-6"
                >
                <img class="img-responsive" src="{{i.thumbnails.high.url}}">
                <div class="overlay">
                  <span class="col-sm-10" style="padding: 0;">{{i.title}}</span>
                  <a style="top: -1px;right: 3px;" ng-click="deleteFromList(i)" class="remove-added-item"><img src="/assets/images/icons/delete.png"></a>
                </div>
              </div>
              <div style="text-align:center;padding: 74px;font-size: 20px;opacity: .5;" ng-show="!videos.length">У Вас еще нет подборок</div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-4">

        <div class="card">
            <div class="card-header bgm-red">
              <h2>Youtube Поиск</h2>
            </div>
            <div class="card-body">
              <youtube-video player-vars="playerVars" video-id="currentVideo" player-width="'100%'" player-height="'150px'"></youtube-video>
            </div>
            <div class="form-group">
              <form style="position:relative">
                <img style="
                        width: 20px;
                        position: absolute;
                        top: 8px;
                        left: 3px;
                        opacity: .5;
                    " src="/assets/images/icons/search-2@2x.png">
                <input type="text"
                 placeholder="Поиск"
                 ng-model="searchRequest"
                 ng-keyup="$event.keyCode == 13 && search()"
                 ng-change="search()"
                 class="search-youtube"
                 ng-model-options="{updateOn: 'blur'}"
                />
              </form>
              <div ng-repeat="i in foundVideos"
                    class="search-item clearfix" ng-class="{'disabledItem': i.disabled}">
                <img class="img-responsive" src="{{i.snippet.thumbnails.default.url}}"
                     alt="{{i.snippet.title}}"
                     ng-click="preview(i.id.videoId)"
                     >
                <div>
                  <div class="item-title">{{i.snippet.title}}</div>
                  <div>
                    <button ng-click="addToList(i)" style="margin-right:10px;bottom: 7px;position: absolute;right: 0;" type="submit" class="btn btn-primary btn-sm waves-effect">Добавить</button>
                  </div>
                </div>
              </div>
              <div ng-show="!foundVideos.length" style="padding: 20px;opacity: .5;" class="text-center">Результаты поиска</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
