<div class="col-sm-12" style="padding-top: 100px;">
  <!-- <img src="http://loremflickr.com/1024/768" style="display: block; margin: 0 auto;"/> -->
  <!--<img src="http://lorempixel.com/1024/768/" style="display: block; margin: 0 auto;"/>-->
<table style="width: 100%; padding: 36px 10px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">
  <tr>
    <td>
      <div style="text-align: center; background-color: #fff; width: 460px; margin: 0 auto; padding: 36px 70px 64px; -webkit-box-shadow: 0 0 2px rgba(0,0,0, 0.12), 0 2px 2px rgba(0,0,0, 0.24); box-shadow: 0 0 2px rgba(0,0,0, 0.12), 0 2px 2px rgba(0,0,0, 0.24); border-radius: 3px;">
        <div style="margin-bottom: 5px;">
          <img src="/assets/images/logo.png" alt="" height="81" width="72"/>
        </div>
        <div style="margin-bottom: 2px;">
          <img src="/assets/images/ct.png" alt="" width="142" height="23"/>
        </div>
        <div>
          <img src="/assets/images/rc.png" alt="" width="152" height="14"/>
        </div>
        <p style="font-size: 30px; font-weight: bold; margin: 30px 0 20px;">Добро пожаловать!</p>
        <p style="font-size: 18px; color: #4A4A4A; margin: 0 0 20px; line-height: 24px;">Управлять допустимым контентом вы можете на вашей панели управления </p>
        <a href="#" style="display: inline-block; max-width: 274px; height: 60px; font-size: 16px; color: #fff; text-align: center; background-color: #F7412D;line-height: 60px; width: 100%; text-decoration: none; border-radius: 12px;">Зарегистрироваться</a>
      </div>
    </td>
  </tr>
</table>

</div>
