<section id="content">
  <div class="container">
    <div class="block-header">
      <h2>Панель управления</h2>
    </div>
    <div class="card">
      <div class="card-header">
          <h2 style="font-weight:100">Ваш ребенок сейчас смотрит: <span class="video-title">{{currentVideo.title}}</span></h2>

          <ul class="actions">
              <li>
                <div class="toggle-switch" data-ts-color="green">
                  <label for="ts4" class="ts-label">
                    <span ng-show="activeApplication">Выключить</span>
                    <span ng-show="!activeApplication">Включить</span>
                    </span>приложение</span>
                  </label>
                  <input id="ts4" ng-change="switch()" type="checkbox" ng-model="activeApplication" hidden="hidden">
                  <label for="ts4" class="ts-helper"></label>
                </div>
              </li>
          </ul>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 current-video-preview">
            <youtube-video ng-if="currentVideo.id" video-id="currentVideo.id" player-width="'100%'" player-height="'250px'"></youtube-video>
            <div ng-if="!currentVideo.id" class="preview-placeholder"></div>
          </div>
          <div class="col-sm-5">
            <timer-editor></timer-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Ограничение просмотра в часах <small>Устновите время для ограничения вашего ребенка</small></h2>
        </div>
        <slider></slider>
    </div>
    <ui-view></ui-view>
  </div>
</section>


