<div class="card">
        <div class="card-header">
            <h2>Статистика <small>Кол-во часов просмотра в день</small></h2>
        </div>
        <div class="card-body card-padding ng-scope">
          <canvas id="line" class="chart chart-line" chart-data="data"
                  chart-labels="labels" chart-legend="false" chart-series="series"
                  chart-click="onClick" >
          </canvas>
        </div>
  </div>
